*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #d42222;
}

#kiri {
    height: 350px;
    width: 600px;
}
.tekst {
    height: 350px;
    width: 600px;
}

header{
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #41729F;

}

.header_pilt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    color: #FEE2C5;
    font-size: larger;
}

.header_pilt img{
    width: 10p%;
    height: 70px;
}



.tutvustus img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    object-fit: cover;      
}

.tutvustus {
    width: 20%;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tutvustus_alus{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;

}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
